@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #232323;
  --color-blue: #118afb;
}

body {
  background: #f2f4f8;
  color: var(--color-black);
  font-family: "Inter", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
* {
  letter-spacing: -0.02em;
}
a {
  cursor: pointer;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-BlackItalic.woff2") format("woff2"),
    url("../fonts/Inter24pt-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-Black.woff2") format("woff2"),
    url("../fonts/Inter24pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Inter24pt-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-ExtraLight.woff2") format("woff2"),
    url("../fonts/Inter24pt-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter24pt-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-Bold.woff2") format("woff2"),
    url("../fonts/Inter24pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-BoldItalic.woff2") format("woff2"),
    url("../fonts/Inter24pt-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-Light.woff2") format("woff2"),
    url("../fonts/Inter24pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Inter24pt-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-Italic.woff2") format("woff2"),
    url("../fonts/Inter24pt-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter24pt-LightItalic.woff2") format("woff2"),
    url("../fonts/Inter24pt-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

body.o-hidden {
  overflow: hidden;
}

body {
  position: relative;
  padding-top: 98px;
}
.sl-pag-bullet {
  width: 5px;
  height: 5px;
  background: #d7d7d7;
  display: inline-block;
  border-radius: 50%;
}
.sl-pag-bullet-active {
  background: #9b9b9b;
}

@media (max-width: 768px) {
  body {
    padding-top: 0px;
    padding-bottom: 120px;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
  }
  .mt-54 {
    margin-top: 54px;
  }
}

.btn__blue {
  border-radius: 100px;
  background: var(--Primary-Blue-600, #118afb);
  color: var(--Primary-White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.28px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}
.btn__blue:hover {
  background: var(--Primary-Blue-700, #0073dd);
}

.brrr {
  color: red !important;
  animation: shake 1s ease;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  30% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
.brrr .input_multi {
  border: 1px solid red !important;
}
.inp {
  padding: 12px;
  background: #F2F4F8;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 20px;
  border: 1px solid #F2F4F8;
  width: 100%;
  outline: none;
  transition: all 0.3s ease;
}
textarea.inp {
  max-height: 70px;
  height: 100%;
  resize: none;
}
.inp:focus {
  border: 1px solid #118AFB;
}
.inp::-moz-placeholder {
  color: #A1A1A1;
}
.inp::placeholder {
  color: #A1A1A1;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 3px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -20px;
}
.swiper-pagination {
  pointer-events: auto;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 8px;
}
.custom-pagination button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background: #c9c9d1;
  cursor: pointer;
  transition: background 0.3s;
}
.custom-pagination button.active {
  background: #118AFB;
}
.i-radio input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.i-radio label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 12px;
  transition: .3s all;
}
.i-radio label::before {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: '';
  border: 2px solid #A1A1A1;
  flex-shrink: 0;
  display: inline-block;
  transition: .3s all;
}
.i-radio input:checked + label::before {
  border-width: 5px;
  border-color: var(--color-blue);
}

.default-btn {
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  background: var(--color-blue);
  border-radius: 100px;
  text-align: center;
  transition: .3s all;
  width: 100%;
  cursor: pointer;
}

.default-btn:hover {
  background: #0073dd;
}
svg.whishActive path{
  fill: #118AFB !important;
  stroke: #118AFB !important;
}